@import url('https://rsms.me/inter/inter.css');
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter';
}
@supports (font-variation-settings: normal) {
  html {
    font-family: -apple-system, BlinkMacSystemFont, 'Inter var';
  }
}
html {
  min-height: 100%;
  background-attachment: fixed;
  background-image: linear-gradient(240deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(330deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 40%), linear-gradient(100deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
#landing {
  background: url('meshes/MediumPurple.jpg') fixed;
  background-size: 250%;
  animation: bg-animation 30s linear infinite;
}
#landing body {
  animation: fadeIn 4s;
}
@keyframes bg-animation {
  0% {
    background-position: top 5% right 10%;
  }
  25% {
    background-position: bottom 5% right 10%;
  }
  50% {
    background-position: bottom 5% right 55%;
  }
  75% {
    background-position: top 5% right 55%;
  }
  100% {
    background-position: top 5% right 10%;
  }
}
.fade {
  animation: fadeOutIn 2s;
}
@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a {
  color: #fbfbfb;
  text-decoration: none;
}
nav ul {
  padding: 0;
  text-align: center;
}
nav li {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}
body {
  margin-top: 25px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#index-title {
  text-align: center;
  font-size: 800%;
  text-shadow: 0 0 10px #ccc;
  user-select: none;
}
#landing-header {
  font-size: 700%;
  font-weight: normal;
  margin-top: 3em;
}
#landing-header #landing-title {
  font-size: 150%;
  font-weight: bold;
}
h1 {
  color: #fbfbfb;
  letter-spacing: -8px;
  margin: 0 auto;
  margin-top: 10px;
}
h3 {
  margin-bottom: 0px;
  padding-left: 20px;
  font-size: 125%;
}
div {
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 40px;
}
.scenario-container {
  margin-bottom: 20px;
  border-radius: 12px;
  border: 5px solid #fbfbfb;
  color: #fbfbfb;
  transition: background-color 1s, border-color 1s, color 1s, box-shadow 1s;
  transition-delay: 1s;
}
.scenario-container button {
  transition: 1s;
  transition-delay: 1s;
  background-color: #fbfbfb;
}
.scenario-container input {
  background-color: #fbfbfb;
}
.scenario-container:hover {
  background-color: #fbfbfb;
  transition: box-shadow 1s;
}
.scenario-container:hover button:enabled {
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 0.3);
}
.scenario-container:hover .enabled {
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  border-style: hidden;
  transition-delay: 0s;
}
.scenario-example {
  font-weight: lighter;
}
.scenario-description {
  font-weight: bold;
}
.sub-scenario-description {
  font-weight: bold;
}
.function-description {
  font-weight: bold;
}
.flex-container {
  display: flex;
  justify-content: flex-start;
}
.table-container {
  display: grid;
  place-items: center;
}
#finals:hover {
  color: #476ee2;
  border-color: #476ee2;
  transition: 1s;
  box-shadow: 0 0 50px #476ee2;
}
#finals:hover button {
  transition: 0.3s;
  transition-delay: 0s;
}
#finals:hover button:enabled {
  color: #fbfbfb;
  background-color: #476ee2;
  border: 1px solid #476ee2;
  transition: 0.3s;
  filter: grayscale(0);
}
#finals:hover button:enabled:hover {
  background-color: #fbfbfb;
  color: #476ee2;
  transition: 0.3s;
}
#finals:hover input:enabled {
  box-shadow: 0 0 3px #ccc;
}
#finals:hover input:enabled:focus,
#finals:hover input:enabled:hover {
  border-color: #476ee2;
}
#weights-and-categories:hover {
  color: green;
  border-color: green;
  transition: 1s;
  box-shadow: 0 0 30px green;
}
#weights-and-categories:hover button {
  transition: 0.3s;
  transition-delay: 0s;
}
#weights-and-categories:hover button:enabled {
  color: #fbfbfb;
  background-color: green;
  border: 1px solid green;
  transition: 0.3s;
  filter: grayscale(0);
}
#weights-and-categories:hover button:enabled:hover {
  background-color: #fbfbfb;
  color: green;
  transition: 0.3s;
}
#weights-and-categories:hover input:enabled {
  box-shadow: 0 0 3px #ccc;
}
#weights-and-categories:hover input:enabled:focus,
#weights-and-categories:hover input:enabled:hover {
  border-color: green;
}
#extra-credit:hover {
  color: #01cdfe;
  border-color: #01cdfe;
  transition: 1s;
  box-shadow: 0 0 50px #01cdfe;
}
#extra-credit:hover button {
  transition: 0.3s;
  transition-delay: 0s;
}
#extra-credit:hover button:enabled {
  color: #fbfbfb;
  background-color: #01cdfe;
  border: 1px solid #01cdfe;
  transition: 0.3s;
  filter: grayscale(0);
}
#extra-credit:hover button:enabled:hover {
  background-color: #fbfbfb;
  color: #01cdfe;
  transition: 0.3s;
}
#extra-credit:hover input:enabled {
  box-shadow: 0 0 3px #ccc;
}
#extra-credit:hover input:enabled:focus,
#extra-credit:hover input:enabled:hover {
  border-color: #01cdfe;
}
table {
  border-collapse: collapse;
  width: 50%;
  transition: box-shadow 1s;
  transition-delay: 1s;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-transform: lowercase;
  padding: 15px;
}
th {
  text-align: left;
}
input {
  font-family: inherit;
  width: 50px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  outline: none;
  transition: 0.5s;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}
::placeholder {
  /* Most modern browsers support this now. */
  color: #ccc;
}
button {
  font-family: inherit;
  border: none;
  border-radius: 3px;
  padding: 5px;
  transition-duration: 0.3s;
  color: grey;
  border: 1px solid #ddd;
  filter: grayscale(1);
}
button:enabled {
  cursor: pointer;
}
